<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h>欢迎光临欢乐聊天室</h>
        </div>
        <div class="panel-body" style="height: 450px;overflow-y: auto;">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="message in messages track by $index">
                    <div class="row">
                        <div class="messageLeft">{{message.username}}：</div>
                        <div class="messageCenter">{{message.message}}</div>
                        <div class="messageRight">
                            <span am-time-ago="message.creatTime"></span>
                        </div>
                    </div>
                </div>
            </div>
            <a id="bottom"></a>
        </div>
        <div class="panel-footer">
            <form action="">
                <div class="form-group">
                    <textarea class="form-control" rows="2" ctrl-enter-break-line="sendMessage()"
                              ng-model="newMessage"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
